*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body{
height: 100%;
width: 100%;
background-color: #ECDFCC;
/* color: #181C14; */
color: #3C3D37;
font-family: Poppins;
}
header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
#logo{
    height: 100%;
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#logo img{
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
}
#logo h1{
    font-weight: 600;
}

main{
    height: 90vh;
    display: flex;
    justify-content: space-around;
}

#tipCalculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
#tipCalculator input, select{
    /* height: 5vh; */
    width: 100%;
    padding: 1vw;
    border-radius: 15px;
    cursor: pointer;
}
button{
    height: 7vh;
    width: 50%;
    font-size: 16px;
    font-family: Mukta;
    letter-spacing: 0.7px;
    /* width: fit-content; */
    padding: 1vw;
    border: transparent;
    border-radius: 25px;
    /* text-align: center; */
    cursor: pointer;
}
button:hover{
    background-color: #697565;
    color: #ECDFCC;
}

#tipAmount{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}